<!--left sidebar start-->
<div class="left-sidebar">
    <nav class="sidebar-menu">
        <ul id="nav-accordion">
            <li>
                <a routerLink="/home">
                    <span>Dashboard</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
            <li>
                <a routerLink="/process">
                    <span>Topics</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
            
            <li>
                <a routerLink="/promotion">
                    <span>Posts</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>

            <li>
                <a routerLink="/award-point">
                    <span>Comments</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>    

            <li>
                <a routerLink="/customers">
                    <span>Subscribers</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>

            <li>
                <a routerLink="/home">
                    <span>Payments</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
            <li>
                <a routerLink="/profile">
                    <span>My Profile</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>

            <li>
                <a (click)="onLogout()">
                    <span>Logout</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>

            <!-- <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-laptop"></i>
                    <span>Layouts</span>
                </a>
                <ul class="sub">
                    <li><a  href="#">Boxed Page</a></li>
                </ul>
            </li> -->
        </ul>
    </nav>
</div>
<!--left sidebar end-->