
<app-topbar></app-topbar>

<!--===========app body start===========-->
<div class="app-body">

    <!--left sidebar start-->
    <app-sidebar></app-sidebar>
    <!--left sidebar end-->

    <!--main contents start-->
    <main class="main-content">
        <!--page title start-->
        <div class="page-title">
            <h4 class="mb-0"> Promotions
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                <li class="breadcrumb-item"><a href="#" class="default-color">Home</a></li>
                <li class="breadcrumb-item active">Promotion</li>
            </ol>
        </div>
        <!--page title end-->

        <div class="container-fluid">
            <div class="card-deck">
                <div class="card mb-4">
                    <img class="card-img-top img-fluid" src="assets/img/black-panther.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Black Panther</h5>
                        <p class="card-text">After the death of his father, T'Challa returns home to the African nation of Wakanda to take his rightful place as king.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Latest</small>
                    </div>
                </div>
                <div class="card mb-4">
                    <img class="card-img-top img-fluid" src="assets/img/avengers.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">The Avengers</h5>
                        <p class="card-text">Iron Man, Thor, the Hulk and the rest of the Avengers unite to battle their most powerful enemy yet -- the evil Thanos. On a mission to collect all six Infinity Stones.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Latest</small>
                    </div>
                </div>
                <div class="card mb-4">
                    <img class="card-img-top img-fluid" src="assets/img/wedding-party2.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Wedding Party 2</h5>
                        <p class="card-text">The Wedding Party 2: Destination Dubai brings us up to date with the newly-married couple who are now expecting a baby.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Latest</small>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--main contents end-->

    <!--right sidebar start-->
    <app-right-sidebar></app-right-sidebar>
    <!--right sidebar end-->

</div>
<!--===========app body end===========-->

<app-footer></app-footer>