
<app-topbar></app-topbar>

<!--===========app body start===========-->
<div class="app-body">

    <!--left sidebar start-->
    <app-sidebar></app-sidebar>
    <!--left sidebar end-->

    <!--main contents start-->
    <main class="main-content">
        <!--page title start-->
        <div class="page-title">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-8">
                        <h4 class="mb-0"> Y'ello Genesis Cinemas
                            <!--<small>statistics, charts many more</small> -->
                        </h4>
                        <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                            <li class="breadcrumb-item"><a routerLInk="/home" class="default-color">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                    <div class="col-4">
                        <div class="btn-group float-right ml-2">
                            <button class="btn btn-warning btn-sm dropdown-toggle mt-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Settings
                            </button>
                            <!-- <div class="dropdown-menu" x-placement="bottom-start" x-out-of-boundaries="" style="position: absolute; transform: translate3d(0px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item" href="#">Profile Settings</a>
                                <a class="dropdown-item" href="#">Data Settings</a>
                                <a class="dropdown-item" href="#">Notification Setting</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Advanced Settings</a>
                            </div> -->
                        </div>

                        <div class="btn-group float-right">
                            <button class="btn btn-primary btn-sm dropdown-toggle mt-2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Quick Action
                            </button>
                            <!-- <div class="dropdown-menu" x-placement="bottom-start" x-out-of-boundaries="" style="position: absolute; transform: translate3d(0px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--page title end-->

        <div class="container-fluid">

            <!--state widget start-->
            <div class="row">
              <div class="col-md-12">
                <div class="card card-shadow">
                    <div class="card-header">
                        <div class="card-title">
                            Verify Token
                        </div>
                    </div>
                    <div class="card-body">
                        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                            <div class="form-group">
                                <label for="inputToke">Customer Token</label>
                                <input type="text" class="form-control form-control-pill form-control-lg" id="inputToke" aria-describedby="tokenHelp" placeholder="Customer Token" ngModel name="token" required>
                                <small id="tokenHelp" class="form-text text-muted">Token sent to the customer's phone</small>
                            </div>

                            <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
                        </form>
                    </div>
                </div>
              </div>
            </div>
            <!--state widget end-->
        </div>

    </main>
    <!--main contents end-->

    <!--right sidebar start-->
    <app-right-sidebar></app-right-sidebar>
    <!--right sidebar end-->

</div>
<!--===========app body end===========-->

<app-footer></app-footer>